body {
    background-image: url(wallpaperbetter.com_1920x1080.jpg);


    background-repeat: no-repeat;
}
.login {
    width: 500px;
    height: 400px;
    margin: 200px auto;
    background-color: rgba(240, 248, 255, 0.282);
    border: 1px solid black;
    border-radius: 20px 0px 50px 0px
 }

input {
    color: black;
    padding: 10px;
    border-radius: 30px;
    font-size: large;
    font-weight: bolder;
}

button {
    width: 150px;
    padding: 9px;
    background-color: rgba(255, 145, 0, 0.132);
    color: azure;
}

button:focus {
    width: 150px;
    padding: 9px;
    background-color: rgba(255, 145, 0, 0.373);
    color: azure;
}

button:hover {
        width: 150px;
    padding: 9px;
    background-color: rgb(255, 145, 0);
    color: azure;
}